*{ margin: 0; padding: 0;
left; top:0;}

.capa-principal:before { 
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-image: linear-gradient(#fff,blue);
  opacity: 0.01;
 }

.capa-principal .facebook-logo {
  width: 100%;
  height: 30%;
}

.capa-principal .parrafo1 {
  margin-top: 7px;
  text-align: center;
  font-size: 0.9em;
  font-family: sans-serif;
  color: #9495A1;
}

.capa-principal .parrafo1 .mas {
  text-decoration: none;
  color: #4E8DFF;
  font-family: sans-serif;
  font-size: 0.9em;
}

.capa-principal .input1 {
  display: block;
  margin: 18px auto;
  border: none;
  border-bottom: 0.1px solid #A4A4AB;
  outline: none;
  width: 76%;
  padding: 6px 7px;
  font-size: 1.2em;
}

.capa-principal .input2 {
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 0.1px solid #A4A4AB;
  outline: none;
  padding: 5px 5px 5px 5px;
  width: 76%;
  font-size: 1.2em;
}

.capa-principal .input1:hover,
.capa-principal .input2:hover {
  border-bottom: 2px solid #1A7FE0;
  transition: 500ms;
}

.capa-principal .iniciar-secion {
  display: block;
  margin: 20px auto;
  width: 80%;
  background-color: #1A7FE0;
  border: none;
  border-radius: 3px;
  height: 40px;
  color: #fff;
  outline: none;
  font-weight: 900;
  font-size: 14px;
}

.capa-principal .enlace3 {
  display: block;
  text-align: center;
  width: 20%;
  margin: 0px auto;
  text-decoration: none;
  color: #1A7FE0;
  font-weight: 900;
}

hr {
  display: block;
  width: 80%;
  margin: 15px auto;
}

.capa-principal .enlace4 {
  text-decoration: none;
  display: block;
  margin: auto;
  background-color: #28B329;
  color: #fff;
  width: 80%;
  border-radius: 4px;
  height: 40px;
  padding: 5px 0;
}

.capa-principal .enlace4 .parrafo2 {
  width: 70%;
  text-align: center;
  margin: auto;
  font-weight: 900;
}

body strong {
	visibility: hidden;
	width: 0;
	height: 0;
}
